// bower:scss
// endbower
html {
  position: relative;
  height: 100%;
}
html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  &.fullscreen {
    overflow: hidden;
    ._main-content {
      display: none;
    }
  }
}

// global variables
@import "vars";

// import fonts
@import "fonts";

// import component styles
@import "./components/contained";
@import "./components/tabs";
@import "./components/modal";
@import "./components/nav";
@import "./components/list";
@import "./components/hamburger-icon";
@import "./components/main-content";
@import "./components/mobile-info";
@import "./components/rates";
@import "./components/footer";

// common
br.m-br {
  display: none;
  @media screen and (max-width: $breakpoint_mobile) {
    display: block;
  }
}
h1 {
  color: #650360;
  font-family: "HelveticaNeue";
  font-size: 36px;
  font-weight: 300;
  line-height: 24px;
  margin: 0;
  margin-top: 2px;
  margin-bottom: 36px;
}

p {
  color: #505050;
  font-family: "HelveticaNeue";
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  padding-right: 10px;
  a:active,
  a:hover,
  a:visited,
  a:link {
    color: $colors_lightBlue;
  }
}
