<div class="_footer">
	<footer>
		<span class="trademark">© 2014 URBank</span>
		<ul class="footer-links">
			<li><a href="#">home</a></li>
			<li><a href="#">employee</a></li>
			<li class="active"><a href="#">company</a></li>
			<li><a href="#">services</a></li>
			<li><a href="#">contact</a></li>
		</ul>
	</footer>
</div>