<div class="_list">
	<span class="label">Reasons We’re Awesome:</span>
	<ul>
		<li>Lorem ipsum dolor sit amet.</li>
		<li>Aliquam tincidunt mauris eu risus.</li>
		<li>Lorem ipsum dolor sit amet.</li>
		<li>Lorem ipsum dolor sit amet.</li>
		<li>Vestibulum auctor dapibus neque.</li>
	</ul>
</div>