<section class="_main-content">
	<h1>Best Bank Ever!</h1>
	<p>
		Pellentesque habitant morbi tristique senectus et netus et <a href="#">malesuada</a> fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris <a href="#">placerat</a> eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra.
	</p>
      <partial src="_list.html"></partial>
      <partial src="_mobile-info.html"></partial>
      <partial src="_rates.html"></partial>
</section>