<div class="_mobile-info">
	<div class="copy">
		<span class="heading">Amazing Mobile Info</span>
		<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
	</div>
	<div class="image-con">
	<img class="iphone" src="images/iphone.png" />
	</div>
</div>