<div class="_modal">
	<div class="window">
		<form method="post">
			<h3>Sign In To Your Account</h3>
			<img src="images/times.png" alt="close" class="close" id="close" />
			<label>Username
				<input type="text" name="username"></label>
				<label>Password
					<input type="text" name="username"></label>
					<input type="submit" value="Login" class="submit">
				</form>
			</div>
		</div>