<nav class="_nav">
  <div class="contained">
    <span class="logo">
      <img src="images/urbank.png" />
    </span>
    <partial src="_hamburger-icon.html"></partial>
    <ul class="menu">
      <li>
        <a href="#">
          <span>Home</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span>Employee</span>
        </a>
      </li>
      <li class="active">
        <a href="#">
          <span>Company</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span>Services</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span>Contact</span>
        </a>
      </li>
    </ul>
  </div>
</nav>