<div class="_rates">
	<div class="banner">
		<span class="copy-con"><h2>Rates</h2> <h3>Check them out.</h3></span>
	</div>
	<table>
		<thead>
			<tr>
				<td></td>
				<td>Annual<br class="m-br"/> Percentage<br class="m-br"/> Yield</td>
				<td>Est. <br class="m-br"/>Earnings <br class="m-br"/>for 1 Year*</td>
			</tr>
		</thead>
		<tbody>
			<!-- dynamic content -->
		</tbody>
		<tfoot>
			<tr>
				<td colspan="3">
					*Based on $50,000 deposit.
				</td>
			</tr>
		</tfoot>
	</table>
</div>