<aside class="_tabs">
	<button class="cta-login" id="login">Login</button>
	<div class="tabs-container">
		<div class="tab-links">
			<div class="tab-tab active" content="0"><span class="label">News</span></div>
			<div class="tab-tab" content="1"><span class="label">Archive</span></div>
		</div>
		<div class="tab-content" index="1">Other Content</div>
		<div class="tab-content active" index="0">
			<ul>
				<li>
					<h5>Lorem ipsum dolor</h5>
					<p>
						Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
					</p>
				</li>
				<li>
					<h5>Lorem ipsum dolor</h5>
					<p>
						Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
					</p>
				</li>
				<li>
					<h5>Lorem ipsum dolor</h5>
					<p>
						Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
					</p>
				</li>
			</ul>
		</div>
	</div>
	
	
</aside>