div._footer {
	margin-top: 75px;
	width: 100%;
	height: 100px;
	display: inline-block;
	position: relative;
	footer {
		background: #eee;
		height: 100px;
		font-family: "HelveticaNeue";
		font-size: 16px;
		font-weight: 400;
		line-height: 24px;
		color: #328fc2;
		padding: 20px;
		ul {
			display: inline-block;
			float: right;
			li {
				display: inline-block;
				padding-left: 40px;
				a:link,
				a,
				a:visited,
				a:active {
					font-family: "HelveticaNeue";
					font-size: 16px;
					font-weight: 400;
					line-height: 24px;
					color: #328fc2;
					padding: 20px;
					text-decoration: none;
				}
				&.active a,
				a:hover {
					font-weight: bold;
				}
			}
		}

		@media screen and (max-width: $breakpoint_mobile) {
			margin-left: -10px;
			margin-right: -10px;
			height: auto;
			.trademark {
				display: block;
				text-align: left;
				padding-bottom: 10px;
			}
			ul {
				width: 100%;
				text-align: left;
				display: block;
				float: none;
				li {
					display: block;
					padding: 0;
					width: 100%;
					padding: 10px 0px 10px 0px;
					a {
						padding-left: 0px !important;
					}
				}
			}
		}
	}
}
