div._list {
	margin-top: 24px;
	.label {
		color: #505050;
		font-family: "HelveticaNeue";
		font-size: 16px;
		font-weight: 700;
		line-height: 18px;
	}
	ul {
		margin-top: 18px;
		padding-left: 12px;
	}
	li {
		padding-left: 5px;
		color: #505050;
		font-family: "HelveticaNeue";
		font-size: 14px;
		font-weight: 400;
		line-height: 18px;
		margin-bottom: 9px;
	}
}
