div._mobile-info {
	min-height: 91px;
	background-color: #bbd8c4;
	padding: 16px;
	margin-top: 33px;
	.copy {
		width: calc(100% - 114px);
		// float: left;
		display: inline-block;
		padding-bottom: 5px;
		.heading {
			color: #650360;
			font-family: "HelveticaNeue";
			font-size: 16px;
			font-weight: 700;
			line-height: 24px;
			margin-bottom: 10px;
		}
		p {
			color: #505050;
			font-family: "HelveticaNeue";
			font-size: 14px;
			font-weight: 400;
			line-height: 21px;
		}
	}
	.image-con {
		width: 104px;
		min-height: 91px;
		float: right;
		position: relative;
		img.iphone {
			position: absolute;
			bottom: 0;
		}
	}
	@media screen and (max-width: $breakpoint_mobile) {
		margin-left: -10px;
		margin-right: -10px;
		padding: 10px;
		.copy,
		.image-con {
			width: 100%;
			min-height: auto !important;
		}
		.copy {
			float: none;
		}
		.image-con {
			float: none;
			img.iphone {
				float: none;
				position: relative;
			}
		}
	}
}
