div._modal {
	display: none;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.65);
	z-index: 2;
	.window {
		box-shadow: 1px 1px #888888;
		border-radius: 5px;
		background-color: white;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateY(-50%) translateX(-50%);
		width: 400px;
		min-height: 250px;
		border: 1px solid #ccc;
		@media screen and (max-width: $breakpoint_mobile) {
			width: calc(100% - 40px);
		}
		form {
			display: block;
			position: relative;
			height: 100%;
			padding-top: 30px;
			padding-left: 20px;
			padding-right: 20px;
			h3 {
				color: #505050;
				font-family: "HelveticaNeue";
				font-size: 28px;
				font-weight: 300;
				line-height: 30px;
				margin-bottom: 20px;
				@media screen and (max-width: $breakpoint_mobile) {
					font-size: 20px;
					margin-bottom: 0px;
					text-align: center;
				}
			}
			img.close {
				position: absolute;
				top: 10px;
				right: 10px;
			}
			label {
				display: block;
				height: 32px;
				padding-top: 10px;
				padding-bottom: 10px;
				@media screen and (max-width: $breakpoint_mobile) {
					text-align: center;
				}
				input[type="text"] {
					float: right;
					width: 250px;
					height: 28px;
					font-size: 26px;
					border: 1px solid #006899;
				}
			}
			.submit {
				margin-top: 10px;
				height: 35px;
				background-color: $colors_allyPurple;
				width: 100%;
				border: none;
				color: #ffffff;
				font-family: "HelveticaNeue";
				font-size: 18px;
				font-weight: 700;
			}
		}
	}
	&.active {
		display: block;
	}
}
