$nav_height: 45px;

nav._nav {
  height: $nav_height;
  transition: height 0.2s linear;
  background-color: $colors_lightBlue;
  padding: 0px 10px 0px 10px;
  ul.menu {
    display: none;
  }
  &.open {
    height: 100vh;
    transition: height 0.2s linear;
    ul.menu {
      display: block;
      height: 100%;
      list-style-type: none;
      margin: 0;
      padding: 30px 0 0 0;
      li {
        width: 100%;
        a {
          outline: none;
        }
      }
    }
  }
  @media screen and (min-width: $breakpoint_mobile) {
    ul.menu {
      display: block;
    }
  }
  .logo img {
    padding-top: 3px;
    padding-bottom: 3px;
  }
  ul {
    height: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
    float: right;
  }

  li {
    height: $nav_height;
    display: inline-block;
  }

  li a {
    height: $nav_height;
    display: block;
    text-decoration: none;
    text-transform: lowercase;
    padding: 12px 20px 12px 20px;
    color: #fff;
  }

  /* Change the link color on hover */
  li:hover,
  li.active {
    background-color: $colors_darkBlue;
    color: white;
  }
}
