div._rates {
	.banner {
		margin-top: 62px;
		margin-bottom: 42px;
		position: relative;
		height: 60px;
		span.copy-con {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			h2 {
				color: #505050;
				font-family: "HelveticaNeue";
				font-size: 28px;
				font-weight: 300;
				line-height: 24px;
				&::after {
					content: " ";
					position: relative;
					top: 1px;
					left: 5px;
					height: 40px;
					width: 1px;
					font-size: 40px;
					font-weight: 100;
					border-right: 1px solid black;
				}
			}
			h3 {
				margin-left: 25px;
				color: #505050;
				font-family: "HelveticaNeue";
				font-size: 28px;
				font-weight: 400;
				line-height: 24px;
			}
		}
	}
	h2,
	h3 {
		display: inline;
	}
	table {
		width: 100%;
		border-collapse: collapse;
		tbody,
		thead {
			tr {
				td:nth-of-type(1) {
					@media screen and (min-width: $breakpoint_mobile) {
						width: 320px;
					}
				}
				td:nth-child(3) {
					padding-right: 20px;
				}
			}
		}
		tfoot {
			tr td {
				color: #505050;
				font-family: "HelveticaNeue";
				font-size: 12px;
				font-weight: 300;
				line-height: 24px;
				text-align: right;
			}
		}
		thead tr td {
			color: #505050;
			font-family: "HelveticaNeue";
			font-size: 12px;
			font-weight: 300;
			line-height: 24px;
			&:nth-child(2),
			&:nth-child(3) {
				text-align: right;
			}
		}
		tbody tr {
			background-color: #eef5f0;
			&:nth-child(1) {
				td {
					color: #505050;
					font-family: "HelveticaNeue";
					font-size: 18px;
					font-weight: 700;
					line-height: 24px;
				}
			}
			&:nth-child(even) {
				background-color: #ddebe1;
			}
			td {
				padding-top: 6px;
				color: #505050;
				font-family: "HelveticaNeue";
				font-size: 16px;
				font-weight: 400;
				line-height: 24px;
				height: 45px;
				&:nth-child(1) {
					padding-left: 20px;
				}
				&:nth-child(2),
				&:nth-child(3) {
					text-align: right;
				}
			}
		}
	}
}
