aside._tabs {
	float: right;
	width: 100%;
	padding-top: 65px;
	padding-left: 10px;
	padding-right: 10px;
	@media screen and (min-width: $breakpoint_mobile) {
		width: calc(25% - 20px);
	}
	button.cta-login {
		height: 35px;
		background-color: $colors_allyPurple;
		width: 100%;
		border: none;
		color: #ffffff;
		font-family: "HelveticaNeue";
		font-size: 18px;
		font-weight: 700;
	}
	.tabs-container {
		// background-color: red;
		margin-top: 30px;
		.tab-links {
			height: 44px;
			margin-bottom: 2px;
			.tab-tab {
				display: inline-block;
				background-color: #ddebe1;
				max-height: 35px;
				padding-top: 10px;
				padding-left: 10px;
				padding-right: 10px;
				float: left;
				margin-top: 11px;
				border: 1px solid #cccccc;
				margin-left: -1px;
				&:hover {
					cursor: pointer;
				}
				.label {
					color: #328fc2;
					font-family: "HelveticaNeue";
					font-size: 18px;
					font-weight: 400;
					line-height: 24px;
				}
				&.active {
					margin-top: 0;
					margin-left: 0;
					background-color: #f5f5f5;
					height: 27px;
					padding-top: 19px;
					border-bottom: 0px;
					border-left: 0px;
					.label {
						color: #505050;
						font-family: "HelveticaNeue";
						font-size: 18px;
						font-weight: 400;
						line-height: 24px;
					}
				}
			}
		}
	}
	.tab-content {
		background-color: #f5f5f5;
		border-top: 1px solid #cccccc;
		display: none;
		padding-top: 20px;
		padding-left: 20px;
		padding-right: 20px;
		&.active {
			display: block;
		}
		ul {
			padding: 0;
			li {
				list-style-type: none;
				h5 {
					color: #328fc2;
					font-family: "HelveticaNeue";
					font-size: 16px;
					font-weight: 700;
					line-height: 24px;
					margin: 0;
				}
				p {
					font-family: "HelveticaNeue";
					font-size: 14px;
					font-weight: 400;
					line-height: 21px;
					margin: 0;
				}
			}
		}
	}
}
